%h1= @user.name
%p
  Email: #{@user.email}
= link_to 'Edit', edit_user_registration_path
|
\#{link_to 'List of Users', users_path}
%h3
  = @user.name
  's Subdomains
%table
  - @user.subdomains.each do |subdomain|
    %tr
      %td= link_to subdomain.name, subdomain
      %td= link_to 'Edit', edit_subdomain_path(subdomain)
      %td= link_to 'Destroy', subdomain, :confirm => 'Are you sure?', :method => :delete
      %td= link_to "Visit #{root_url(:subdomain => subdomain.name)}", root_url(:subdomain => subdomain.name)
%br/
= link_to "Add New Subdomain", new_user_subdomain_path(@user)

